In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys

In [5]:
raw_csv_data = pd.read_csv('Data.csv')
pd.options.display.max_columns = None
pd.options.display.max_rows = None
raw_csv_data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [87]:
inputs = raw_csv_data.iloc[:, :-1].values
targets = raw_csv_data.iloc[:, 3].values

In [17]:
np.set_printoptions(threshold=sys.maxsize)

In [88]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

imputer.fit(inputs[:, 1:])
inputs[:, 1:] = imputer.transform(inputs[:, 1:])
inputs = pd.DataFrame(columns=['country', 'age', 'salary'], data = inputs)
inputs

   country      age   salary
0   France       44    72000
1    Spain       27    48000
2  Germany       30    54000
3    Spain       38    61000
4  Germany       40  63777.8
5   France       35    58000
6    Spain  38.7778    52000
7   France       48    79000
8  Germany       50    83000
9   France       37    67000

In [99]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le_country = LabelEncoder()
inputs['country_encoded'] = le_country.fit_transform(inputs.country)

ohe_country =OneHotEncoder()
inputs_country_encoded = ohe_country.fit_transform(inputs.country_encoded.values.reshape(-1,1)).toarray()
df_ohe = pd.DataFrame(inputs_country_encoded, columns = ["Country_"+str(int(i)) for i in range(inputs_country_encoded.shape[1])])
inputs_ohe_mod = pd.concat([df_ohe, inputs], axis=1)
inputs_ohe_mod = inputs_ohe_mod.drop(['country','country_encoded'], axis = 1)

le_purchased = LabelEncoder()
targets = pd.DataFrame(columns=['purchased'], data=targets )
targets.purchased = le_purchased.fit_transform(targets.purchased)

   purchased
0          0
1          1
2          0
3          0
4          1
5          1
6          0
7          1
8          0
9          1

In [100]:
inputs_preprocessed = inputs_ohe_mod.copy()
targets_preprocessed = targets.copy()

In [105]:
from sklearn.model_selection import train_test_split

inputs_train, inputs_test, targets_train, targets_test = train_test_split(inputs_preprocessed,targets_preprocessed, test_size=0.2,                                                                                  random_state=0)

In [106]:
from sklearn.preprocessing import StandardScaler

sc_inputs = StandardScaler()
inputs_train = sc_inputs.fit_transform(inputs_train)
inputs_test = sc_inputs.transform(inputs_test)

In [108]:
inputs_test

array([[-1.        ,  2.64575131, -0.77459667, -1.45882927, -0.90166297],
       [-1.        ,  2.64575131, -0.77459667,  1.98496442,  2.13981082]])